@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
.navbar {
  background-color: #3498db; }

.navbar-inverse .navbar-brand {
  color: #ecf0f1;
  font-weight: 400; }

.navbar-inverse .navbar-brand:hover {
  color: #ecf0f1;
  font-weight: 400; }

#bs-example-navbar-collapse-1 > ul.nav.navbar-nav.navbar-right > li > a {
  color: #ecf0f1;
  font-weight: 300; }

#bs-example-navbar-collapse-1 > ul.nav.navbar-nav.navbar-right > li > a:hover {
  background-color: #2980b9;
  font-weight: 300; }

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #2980b9; }

#bs-example-navbar-collapse-1 > ul.nav.navbar-nav.navbar-right > li > ul > li > a:hover {
  background-color: #3498db; }

.navbar-inverse .navbar-nav > .dropdown > a .caret {
  border-top-color: #ecf0f1;
  border-bottom-color: #ecf0f1; }

.caret:hover {
  border-top-color: #ecf0f1;
  border-bottom-color: #ecf0f1; }

#bs-example-navbar-collapse-1 > ul > li > a:hover {
  color: #ecf0f1;
  background-color: #2980b9; }

#loginPanel {
  background-color: #fff;
  border: none; }

#loginPanel .panel-heading {
  text-align: center;
  color: #ecf0f1;
  background-color: #3498db;
  font-weight: 700;
  border: none; }

.panel a {
  color: #3498db; }

button.btn.submitButton {
  background-color: #3498db;
  color: #ecf0f1;
  width: 315px; }

button.btn.submitButton:hover {
  background-color: #2980b9;
  color: #ecf0f1;
  width: 315px; }

button.btn.viewProfileButton {
  background-color: #3498db;
  color: #ecf0f1;
  width: 100px; }

button.btn.viewProfileButton:hover {
  background-color: #2980b9;
  color: #ecf0f1;
  width: 100px; }

button.btn.addChildButton {
  width: 100%;
  margin-left: 0;
  margin-right: 0; }

button.btn.uploadImageButton {
  width: 100%;
  margin-top: 20px;
  background-color: #3498db;
  color: #ecf0f1; }

button.btn.viewProfileButton:hover {
  background-color: #2980b9;
  color: #ecf0f1;
  width: 100px; }

a.btn.viewProfileButton {
  background-color: #3498db;
  color: #ecf0f1;
  width: 100px; }

a.btn.viewProfileButton:hover {
  background-color: #2980b9;
  color: #ecf0f1;
  width: 100px; }

a.btn.btn-embossed.progressReviewButton {
  background-color: #2ecc71;
  color: #ecf0f1;
  width: 150px; }

a.btn.progressReviewButton:hover {
  background-color: #27b463;
  color: #ecf0f1;
  width: 150px; }

.submitFormButton {
  border: none; }

.tcenter {
  text-align: center; }

.hide {
  visibility: hidden; }

.unHide {
  visibility: visible; }

input.form-control:focus {
  border-color: #3498db; }

input.form-control.flat:focus {
  border-color: #3498db; }

::-webkit-input-placeholder {
  text-align: center; }

:-moz-placeholder {
  /* Firefox 18- */
  text-align: center; }

::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center; }

:-ms-input-placeholder {
  text-align: center; }

.form-control + .glyphicon {
  position: absolute;
  right: 0;
  padding: 11px 20px; }

input.form-control.datePickerInput {
  border: none; }

.input-group-addon {
  background-color: #3498db;
  border: none; }

select.form-control:focus {
  border-color: #3498db; }

input.ng-invalid.ng-dirty {
  border-color: #e74c3c; }

input.ng-valid.ng-dirty {
  border-color: #2ecc71; }

select.ng-invalid.ng-dirty {
  border-color: #e74c3c; }

select.ng-valid.ng-dirty {
  border-color: #2ecc71; }

.alert-danger.animated.bounceInUp {
  position: fixed;
  bottom: 50px;
  width: 60%;
  background-color: #fff;
  border: 10px solid #e74c3c;
  color: #e74c3c;
  border-radius: 25px;
  box-shadow: 10px 10px 19px -7px rgba(0, 0, 0, 0.47); }

.alert-success.animated.bounceInUp {
  position: fixed;
  bottom: 50px;
  width: 60%;
  background-color: #fff;
  border: 10px solid #2ecc71;
  color: #2ecc71;
  border-radius: 25px;
  box-shadow: 10px 10px 19px -7px rgba(0, 0, 0, 0.47); }

.animate-enter,
.animate-leave {
  transition: 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  position: relative;
  display: block;
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap; }

.animate-leave.animate-leave-active,
.animate-enter {
  opacity: 0;
  width: 0px;
  height: 0px; }

.animate-enter.animate-enter-active,
.animate-leave {
  opacity: 1;
  width: 150px;
  height: 30px; }

.fadeInLeft {
  z-index: 9999; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  background-color: #f7f7f7; }

td.ng-binding.green {
  background-color: #2ecc71 !important; }

td.ng-binding.orange {
  background-color: #d35400 !important; }

/*# sourceMappingURL=app.css.map */
