@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
@import "partials/colors";
@import "partials/nav";
@import "partials/panels";
@import "partials/buttons";
@import "partials/helpers";
@import "partials/inputs";
@import "partials/alerts";
@import "partials/animations";


body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  background-color: $bodyBackground;
}

td.ng-binding.green {
  background-color: $green !important;
}

td.ng-binding.orange {
  background-color: $orange !important;
}

