.alert-danger.animated.bounceInUp {
  position: fixed;
  bottom: 50px;
  width: 60%;
  background-color: $backgroundWhite;
  border: 10px solid $red;
  color: $red;
  border-radius: 25px;

  -webkit-box-shadow: 10px 10px 19px -7px rgba(0,0,0,0.47);
  -moz-box-shadow: 10px 10px 19px -7px rgba(0,0,0,0.47);
  box-shadow: 10px 10px 19px -7px rgba(0,0,0,0.47);
}

.alert-success.animated.bounceInUp {
  position: fixed;
  bottom: 50px;
  width: 60%;
  background-color: $backgroundWhite;
  border: 10px solid $green;
  color: $green;
  border-radius: 25px;

  -webkit-box-shadow: 10px 10px 19px -7px rgba(0,0,0,0.47);
  -moz-box-shadow: 10px 10px 19px -7px rgba(0,0,0,0.47);
  box-shadow: 10px 10px 19px -7px rgba(0,0,0,0.47);
}