button.btn.submitButton {
  background-color: $background;
  color: $brandColor;
  width: 315px;
}

button.btn.submitButton:hover {
  background-color: $backgroundDarker;
  color: $brandColor;
  width: 315px;
}

button.btn.viewProfileButton {
  background-color: $background;
  color: $brandColor;
  width: 100px;
}

button.btn.viewProfileButton:hover {
  background-color: $backgroundDarker;
  color: $brandColor;
  width: 100px;
}

button.btn.addChildButton {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

button.btn.uploadImageButton {
  width: 100%;
  margin-top: 20px;
  background-color: $background;
  color: $brandColor;
}

button.btn.viewProfileButton:hover {
  background-color: $backgroundDarker;
  color: $brandColor;
  width: 100px;
}

a.btn.viewProfileButton {
  background-color: $background;
  color: $brandColor;
  width: 100px;
}

a.btn.viewProfileButton:hover {
  background-color: $backgroundDarker;
  color: $brandColor;
  width: 100px;
}

a.btn.btn-embossed.progressReviewButton {
  background-color: $green;
  color: $brandColor;
  width: 150px;
}

a.btn.progressReviewButton:hover {
  background-color: $darkGreen;
  color: $brandColor;
  width: 150px;
}

.submitFormButton {
  border: none;
}