$brandColor : #ecf0f1;
$bodyBackground : #f7f7f7;
$background : #3498db;
$backgroundDarker : #2980b9;
$backgroundWhite : #fff;
$red : #e74c3c;
$green : #2ecc71;
$darkGreen : #27b463;
$orange : #d35400;