input.form-control:focus {
  border-color: $background;
}

input.form-control.flat:focus {
  border-color: $background;
}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
  text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
  text-align: center;
}

:-ms-input-placeholder {
  text-align: center;
}

.form-control + .glyphicon {
  position: absolute;
  right: 0;
  padding: 11px 20px;
}

input.form-control.datePickerInput {
  border: none;
}

.input-group-addon {
  background-color: $background;
  border: none;
}

select.form-control:focus {
  border-color: $background;
}

//Input validation stuff

input.ng-invalid.ng-dirty {
  border-color: $red;
}

input.ng-valid.ng-dirty {
  border-color: $green;
}

select.ng-invalid.ng-dirty {
  border-color: $red;
}

select.ng-valid.ng-dirty {
  border-color: $green;
}