.navbar {
  background-color: $background;
}

.navbar-inverse .navbar-brand {
  color: $brandColor;
  font-weight: 400;
}

.navbar-inverse .navbar-brand:hover {
  color: $brandColor;
  font-weight: 400;
}

#bs-example-navbar-collapse-1 > ul.nav.navbar-nav.navbar-right > li > a {
  color: $brandColor;
  font-weight: 300;
}

#bs-example-navbar-collapse-1 > ul.nav.navbar-nav.navbar-right > li > a:hover {
  background-color: $backgroundDarker;
  font-weight: 300;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
  background-color: $backgroundDarker;
}

#bs-example-navbar-collapse-1 > ul.nav.navbar-nav.navbar-right > li > ul > li > a:hover {
  background-color: $background;
}

.navbar-inverse .navbar-nav>.dropdown>a .caret {
  border-top-color: $brandColor;
  border-bottom-color: $brandColor;
}

.caret:hover {
  border-top-color: $brandColor;
  border-bottom-color: $brandColor;
}

#bs-example-navbar-collapse-1 > ul > li > a:hover {
  color: $brandColor;
  background-color: $backgroundDarker;
}