#loginPanel {
  background-color: $backgroundWhite;
  border: none;
}

#loginPanel .panel-heading {
  text-align: center;
  color: $brandColor;
  background-color: $background;
  font-weight: 700;
  border: none;
}

.panel a {
  color: $background;
}