<div class="row">
    <div class="col-sm-12">
        <h3 class="tcenter">Outcome Overview</h3>
    </div>
</div>

<div class="row">
    <div class="col-sm-3">
        <div class="form-group">
            <select ng-model="monthRange" name="month" class="form-control flat" placeholder="Month Range">
                <option value="" disabled selected>Select a Month Range</option>
                <option value="november-march">Nov - March</option>
                <option value="march-july">March - July</option>
                <option value="july-november">July - Nov</option>
            </select>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <select ng-model="year" name="year" class="form-control flat" placeholder="Year">
                <option value="" disabled selected>Select a Year</option>
                <option value="2015">2015</option>
                <option value="2016">2016</option>
                <option value="2017">2017</option>
                <option value="2018">2018</option>
                <option value="2019">2019</option>
                <option value="2020">2020</option>
                <option value="2021">2021</option>
                <option value="2022">2022</option>
            </select>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <select ng-model="query" name="query" id="querySelect" class="form-control flat" placeholder="Select a Query">
                <option value="all">Display all children</option>
                <option value="all_with_orange">All with one or more oranges</option>
                <option value="self_confidence">All with orange in self confidence</option>
                <option value="making_relationships">All with orange in making relationships</option>
                <option value="managing_feelings">All with orange in managing feelings</option>
                <option value="listening_and_attention">All with orange in listening and attention</option>
                <option value="understanding">All with orange in understanding</option>
                <option value="speaking">All with orange in speaking</option>
                <option value="moving_and_handling">All with orange in moving and handling</option>
                <option value="health_self_care">All with orange in health self care</option>
            </select>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <input ng-click="getCohortOverview(monthRange, year, query)" type="button" value="Display Progress Reviews" class="btn btn-embossed btn-success center-block">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <table class="table table-striped table-responsive">
            <tr>
                <th>Child Name</th>
                <th>Date Review was Completed</th>
                <th>Self Confidence</th>
                <th>Making Relationships</th>
                <th>Managing Feelings</th>
                <th>Listening and Attention</th>
                <th>Understanding</th>
                <th>Speaking</th>
                <th>Moving and Handling</th>
                <th>Health Self Care</th>
            </tr>
            <tr ng-repeat="review in reviews">
                <td>{{ review.full_name }}</td>
                <td>{{ review.created_at | date: 'fullDate' }}</td>
                <td ng-class="{'green': review.self_confidence == 'Green', 'orange': review.self_confidence == 'Orange'}"> {{ review.self_confidence }} </td>
                <td ng-class="{'green': review.making_relationships == 'Green', 'orange': review.making_relationships == 'Orange'}"> {{ review.making_relationships }} </td>
                <td ng-class="{'green': review.managing_feelings == 'Green', 'orange': review.managing_feelings == 'Orange'}"> {{ review.managing_feelings }} </td>
                <td ng-class="{'green': review.listening_and_attention == 'Green', 'orange': review.listening_and_attention == 'Orange'}"> {{ review.listening_and_attention }} </td>
                <td ng-class="{'green': review.understanding == 'Green', 'orange': review.understanding == 'Orange'}"> {{ review.understanding }} </td>
                <td ng-class="{'green': review.speaking == 'Green', 'orange': review.speaking == 'Orange'}"> {{ review.speaking }} </td>
                <td ng-class="{'green': review.moving_and_handling == 'Green', 'orange': review.moving_and_handling == 'Orange'}"> {{ review.moving_and_handling }} </td>
                <td ng-class="{'green': review.health_self_care == 'Green', 'orange': review.health_self_care == 'Orange'}"> {{ review.health_self_care }} </td>
                <td><a ui-sref="viewProgressReview({ id: review.child_id, review: review.id })" type="button" class="btn btn-embossed viewProfileButton">View</a></td>
            </tr>
        </table>
    </div>
</div>