

<div>
    <div class="row">
        <div class="col-sm-12">
            <h1 class="tcenter">Cohort Analysis</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series"></canvas>
        </div>
    </div>
</div>




