<div class="row">
    <div class="col-sm-12">
        <h3 class="tcenter">Progress review for - {{ child.full_name }}</h3>
        <h4 class="tcenter">Date of Birth: {{ child.date_of_birth }}</h4>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <h4>Risk Indicators</h4>
        <form action="" name="riskIndicators" novalidate>
        <table class="table table-striped table-bordered table-responsive">
            <tr>
                <th>Born May-Aug</th>
                <th>SEN: EYA/+ SA/+</th>
                <th>Child in care</th>
                <th>Child protection plan</th>
                <th>EAL</th>
                <th>BME</th>
                <th>CAF</th>
                <th>Eligible for 2 year funding</th>
                <th>Joint 2y o review with health</th>
                <th>Child with health care plan</th>
            </tr>
            <tr>
                    <td>
                        <div class="form-group">
                            <label class="radio" for="radio1">
                                <input required ng-model="born_between_aug_may" type="radio" name="born_between_aug_may" value="Yes" id="radio1" data-toggle="radio" class="custom-radio"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                                Yes
                            </label>
                            <label class="radio" for="radio2">
                                <input required ng-model="born_between_aug_may" type="radio" name="born_between_aug_may" value="No" id="radio2" data-toggle="radio" class="custom-radio"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                                No
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label class="radio" for="radio3">
                                <input required ng-model="sen" type="radio" name="sen" value="Yes" id="radio3" data-toggle="radio" class="custom-radio"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                                Yes
                            </label>
                            <label class="radio" for="radio4">
                                <input required ng-model="sen" type="radio" name="sen" value="No" id="radio4" data-toggle="radio" class="custom-radio"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                                No
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label class="radio" for="radio5">
                                <input required ng-model="child_in_care" type="radio" name="child_in_care" value="Yes" id="radio5" data-toggle="radio" class="custom-radio"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                                Yes
                            </label>
                            <label class="radio" for="radio6">
                                <input required ng-model="child_in_care" type="radio" name="child_in_care" value="No" id="radio6" data-toggle="radio" class="custom-radio"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                                No
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label class="radio" for="radio7">
                                <input required ng-model="child_protection_plan" type="radio" name="child_protection_plan" value="Yes" id="radio7" data-toggle="radio" class="custom-radio"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                                Yes
                            </label>
                            <label class="radio" for="radio8">
                                <input required ng-model="child_protection_plan" type="radio" name="child_protection_plan" value="No" id="radio8" data-toggle="radio" class="custom-radio"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                                No
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label class="radio" for="radio9">
                                <input required ng-model="EAL" type="radio" name="EAL" value="Yes" id="radio9" data-toggle="radio" class="custom-radio"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                                Yes
                            </label>
                            <label class="radio" for="radio10">
                                <input required ng-model="EAL" type="radio" name="EAL" value="No" id="radio10" data-toggle="radio" class="custom-radio"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                                No
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label class="radio" for="radio11">
                                <input required ng-model="BME" type="radio" name="BME" value="Yes" id="radio11" data-toggle="radio" class="custom-radio"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                                Yes
                            </label>
                            <label class="radio" for="radio12">
                                <input required ng-model="BME" type="radio" name="BME" value="No" id="radio12" data-toggle="radio" class="custom-radio"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                                No
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label class="radio" for="radio13">
                                <input required ng-model="CAF" type="radio" name="CAF" value="Yes" id="radio13" data-toggle="radio" class="custom-radio"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                                Yes
                            </label>
                            <label class="radio" for="radio14">
                                <input required ng-model="CAF" type="radio" name="CAF" value="No" id="radio14" data-toggle="radio" class="custom-radio"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                                No
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label class="radio" for="radio15">
                                <input required ng-model="two_year_funding" type="radio" name="2_year_funding" value="Yes" id="radio15" data-toggle="radio" class="custom-radio"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                                Yes
                            </label>
                            <label class="radio" for="radio16">
                                <input required ng-model="two_year_funding" type="radio" name="2_year_funding" value="No" id="radio16" data-toggle="radio" class="custom-radio"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                                No
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label class="radio" for="radio17">
                                <input required ng-model="joint_2y_review_with_health" type="radio" name="joint_2y_review_with_health" value="Yes" id="radio17" data-toggle="radio" class="custom-radio"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                                Yes
                            </label>
                            <label class="radio" for="radio18">
                                <input required ng-model="joint_2y_review_with_health" type="radio" name="joint_2y_review_with_health" value="No" id="radio18" data-toggle="radio" class="custom-radio"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                                No
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label class="radio" for="radio19">
                                <input required ng-model="child_with_health_care_plan" type="radio" name="child_with_health_care_plan" value="Yes" id="radio19" data-toggle="radio" class="custom-radio"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                                Yes
                            </label>
                            <label class="radio" for="radio20">
                                <input required ng-model="child_with_health_care_plan" type="radio" name="child_with_health_care_plan" value="No" id="radio20" data-toggle="radio" class="custom-radio"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                                No
                            </label>
                        </div>
                    </td>
            </tr>
        </table>
            <h4>Outcomes</h4>
            <table class="table table-striped table-bordered table-responsive">
                <tr>
                    <th>Self Confidence</th>
                    <th>Making Relationships</th>
                    <th>Managing Feelings</th>
                    <th>Listening and Attention</th>
                    <th>Understanding</th>
                    <th>Speaking</th>
                    <th>Moving and Handling</th>
                    <th>Health Self Care</th>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <select ng-model="self_confidence" name="self_confidence" class="form-control flat" required>
                                <option value="None">None</option>
                                <option value="Green">Green</option>
                                <option value="Orange">Orange</option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <select ng-model="making_relationships" name="making_relationships" class="form-control flat" required>
                                <option value="None">None</option>
                                <option value="Green">Green</option>
                                <option value="Orange">Orange</option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <select ng-model="managing_feelings" name="managing_feelings" class="form-control flat" required>
                                <option value="None">None</option>
                                <option value="Green">Green</option>
                                <option value="Orange">Orange</option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <select ng-model="listening_and_attention" name="listening_and_attention" class="form-control flat" required>
                                <option value="None">None</option>
                                <option value="Green">Green</option>
                                <option value="Orange">Orange</option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <select ng-model="understanding" name="understanding" class="form-control flat" required>
                                <option value="None">None</option>
                                <option value="Green">Green</option>
                                <option value="Orange">Orange</option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <select ng-model="speaking" name="speaking" class="form-control flat" required>
                                <option value="None">None</option>
                                <option value="Green">Green</option>
                                <option value="Orange">Orange</option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <select ng-model="moving_and_handling" name="moving_and_handling" class="form-control flat" required>
                                <option value="None">None</option>
                                <option value="Green">Green</option>
                                <option value="Orange">Orange</option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <select ng-model="health_self_care" name="health_self_care" class="form-control flat" required>
                                <option value="None">None</option>
                                <option value="Green">Green</option>
                                <option value="Orange">Orange</option>
                            </select>
                        </div>
                    </td>
                </tr>
            </table>
            <h4>Risk of Delays</h4>
            <table class="table table-striped table-bordered table-responsive">
                <tr>
                    <th>Interaction and Play</th>
                    <th>Attention and Listening</th>
                    <th>Understanding</th>
                    <th>Expressive Language</th>
                    <th>Speech Sounds</th>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label class="radio" for="radio21">
                                <input required ng-model="interaction_and_play" type="radio" name="interaction_and_play" value="Yes" id="radio21" data-toggle="radio" class="custom-radio"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                                Yes
                            </label>
                            <label class="radio" for="radio22">
                                <input required ng-model="interaction_and_play" type="radio" name="interaction_and_play" value="No" id="radio22" data-toggle="radio" class="custom-radio"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                                No
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label class="radio" for="radio23">
                                <input required ng-model="attention_listening" type="radio" name="attention_listening" value="Yes" id="radio23" data-toggle="radio" class="custom-radio"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                                Yes
                            </label>
                            <label class="radio" for="radio24">
                                <input required ng-model="attention_listening" type="radio" name="attention_listening" value="No" id="radio24" data-toggle="radio" class="custom-radio"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                                No
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label class="radio" for="radio25">
                                <input required ng-model="understanding2" type="radio" name="understanding2" value="Yes" id="radio25" data-toggle="radio" class="custom-radio"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                                Yes
                            </label>
                            <label class="radio" for="radio26">
                                <input required ng-model="understanding2" type="radio" name="understanding2" value="No" id="radio26" data-toggle="radio" class="custom-radio"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                                No
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label class="radio" for="radio27">
                                <input required ng-model="expressive_language" type="radio" name="expressive_language" value="Yes" id="radio27" data-toggle="radio" class="custom-radio"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                                Yes
                            </label>
                            <label class="radio" for="radio28">
                                <input required ng-model="expressive_language" type="radio" name="expressive_language" value="No" id="radio28" data-toggle="radio" class="custom-radio"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                                No
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label class="radio" for="radio29">
                                <input required ng-model="speech_sounds" type="radio" name="speech_sounds" value="Yes" id="radio29" data-toggle="radio" class="custom-radio"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                                Yes
                            </label>
                            <label class="radio" for="radio30">
                                <input required ng-model="speech_sounds" type="radio" name="speech_sounds" value="No" id="radio30" data-toggle="radio" class="custom-radio"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                                No
                            </label>
                        </div>
                    </td>
                </tr>
            </table>
        <div class="form-group">
            <input ng-click="create(
                    child.id,
                    born_between_aug_may,
                    sen,
                    child_in_care,
                    child_protection_plan,
                    EAL,
                    BME,
                    CAF,
                    two_year_funding,
                    joint_2y_review_with_health,
                    child_with_health_care_plan,
                    self_confidence,
                    making_relationships,
                    managing_feelings,
                    listening_and_attention,
                    understanding,
                    speaking,
                    moving_and_handling,
                    health_self_care,
                    interaction_and_play,
                    attention_listening,
                    understanding2,
                    expressive_language,
                    speech_sounds)"
                   type="button" value="Submit Progress Review" class="btn btn-embossed btn-success
                   submitFormButton center-block">
        </div>

        </form>
    </div>
    <div ng-include="'partials/success.html'" class="row"></div>
</div>