<div class="row">
    <div class="col-sm-12">
        <h1 class="tcenter">Add new child</h1>
    </div>
</div>

<div class="row" ng-controller="ChildrenController">

    <div class="row">
        <div class="col-sm-6">

            <form action="" name="newChild" novalidate>

            <div class="form-group">
                <input ng-model="full_name" required ng-minlength="4" name="full_name" type="text" placeholder="Full Name" class="form-control flat">
                <p class="help-block" ng-show="newChild.full_name.$error.minlength || form.full_name.$invalid">Name must be at least 4 characters and is required.</p>
            </div>

            <div class="form-group">
                <select ng-model="gender" name="gender" class="form-control flat" required>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
                <p class="help-block" ng-show="newChild.gender.$error.required || form.gender.$invalid">Gender is a required field.</p>
            </div>

            <div class="form-group input-group date" id="datepicker">
                <input ng-model="date_of_birth" required name="date_of_birth" type="" class="form-control datePickerInput" placeholder="Date of Birth"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
            </div>
                <p class="help-block" ng-show="newChild.date_of_birth.$error.required || form.date_of_birth.$invalid">Date of birth is a required field.</p>


            <div class="form-group">
                <input ng-disabled="newChild.$invalid" ng-click="create(full_name, gender, date_of_birth)" type="button" value="Submit" class="btn btn-embossed btn-success submitFormButton center-block">
            </div>

            </form>

        </div>

        <div class="col-sm-6">
            <img class="img-circle img-responsive center-block" src="/img/childprofile.jpg" alt="child profile image">
        </div>
    </div>

    <div ng-include="'partials/success.html'" class="row"></div>

    <script src="/js/datePicker.js"></script>

</div>