<div class="row">
    <div class="col-sm-12">
        <h1 class="tcenter">Child Profile - {{ child.full_name }}</h1>
    </div>
</div>

<div class="row">

    <div class="row">
        <div class="col-sm-6">

            <form action="" name="newChild" novalidate>

                <div class="form-group">
                    <input ng-model="child.full_name" required ng-minlength="4" name="full_name" type="text" placeholder="Full Name" class="form-control flat" >
                    <p class="help-block" ng-show="newChild.full_name.$error.minlength || form.full_name.$invalid">Name must be at least 4 characters.</p>
                    <p class="help-block" ng-show="newChild.full_name.$error.required || form.full_name.$invalid">Name is a required field.</p>
                </div>

                <div class="form-group">
                    <select ng-model="child.gender" name="gender" class="form-control flat" required>
                        <option ng-selected="child.gender == 'Male'" value="Male">Male</option>
                        <option ng-selected="child.gender == 'Female'" value="Female">Female</option>
                    </select>
                    <p class="help-block" ng-show="newChild.gender.$error.required || form.gender.$invalid">Gender is a required field.</p>
                </div>

                <div class="form-group">
                    <input ng-model="child.age_in_months" required name="age_in_months" type="text" placeholder="Age in Months" class="form-control flat">
                    <p class="help-block" ng-show="newChild.age_in_months.$error.required || form.age_in_months.$invalid">Age in Months is a required field.</p>
                </div>

                <div class="form-group input-group date" id="datepicker">
                    <input ng-model="child.date_of_birth" required name="date_of_birth" type="" class="form-control datePickerInput" placeholder="Date of Birth"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                </div>
                <p class="help-block" ng-show="newChild.date_of_birth.$error.required || form.date_of_birth.$invalid">Date of birth is a required field.</p>

                <div class="form-group">
                    <input ng-disabled="newChild.$invalid" ng-click="update(child.id, child.full_name, child.gender, child.age_in_months, child.date_of_birth)" type="button" value="Update" class="btn btn-embossed btn-success submitFormButton center-block">
                </div>

            </form>

        </div>

        <div class="col-sm-6">
            <img class="img-circle img-responsive center-block" src="/img/childprofile.jpg" alt="child profile image">
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h2 class="profileTitle">Progress Reviews:</h2>
            <table class="table table-striped table-responsive">
                <tr>
                    <th>Progress Review #</th>
                    <th>Date Review was Completed</th>
                    <th>Action</th>
                </tr>
                <tr ng-repeat="review in reviews">
                    <td>{{ $index + 1 }}</td>
                    <td>{{ review.created_at }}</td>
                    <td><a ui-sref="viewProgressReview({ id: child.id, review: review.id })" type="button" class="btn btn-embossed viewProfileButton">View</a></td>
                </tr>
            </table>
        </div>
    </div>

    <div ng-include="'partials/success.html'" class="row"></div>
    <div ng-include="'partials/fail.html'" class="row"></div>

    <script src="/js/datePicker.js"></script>

</div>