
<div class="col-sm-12" ng-show="fail == true">
    <div class="alert alert-danger animated bounceInUp">
        <div class="row">
            <div class="col-xs-1">
                <img class="successImg" src="/img/fail64.png" alt="Success">
            </div>
            <div class="col-xs-11">
                <div class="">
                    {{ msg }}
                </div>
            </div>
        </div>
    </div>
</div>