<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url('/') }}">Cohort Progress Overview</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#/children">Children</a></li>
                <li><a href="#/progressReviews">Progress Reviews</a></li>
                <li><a href="#/outcomeOverview">Outcome Overview</a></li>
                <li><a href="#/cohortAnalysis">Cohort Analysis</a></li>
                <li><a href="#/about">About</a></li>
            </ul>

            <!--<ul class="nav navbar-nav navbar-right">
                <li><a href="{{ url('/auth/login') }}">Login</a></li>
                <li><a href="{{ url('/auth/register') }}">Register</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" type="button">Logged in as: {{ Auth::user()->name }} <span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-inverse" role="menu">
                        <li><a href="{{ url('/auth/logout') }}">Logout</a></li>
                        <li><a href="{{ url('/auth/password') }}">My Account</a></li>
                    </ul>
                </li>
            </ul>-->
        </div>
    </div>
</nav>