<div class="row">
    <div class="col-sm-12">
        <h3 class="tcenter">Progress Reviews</h3>
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        <div class="form-group">
            <select ng-model="monthRange" name="month" class="form-control flat" placeholder="Month Range">
                <option value="" disabled selected>Select a Month Range</option>
                <option value="november-march">Nov - March</option>
                <option value="march-july">March - July</option>
                <option value="july-november">July - Nov</option>
            </select>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <select ng-model="year" name="year" class="form-control flat" placeholder="Year">
                <option value="" disabled selected>Select a Year</option>
                <option value="2015">2015</option>
                <option value="2016">2016</option>
                <option value="2017">2017</option>
                <option value="2018">2018</option>
                <option value="2019">2019</option>
                <option value="2020">2020</option>
                <option value="2021">2021</option>
                <option value="2022">2022</option>
            </select>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <input ng-click="getProgressReviews(monthRange, year)" type="button" value="Display Progress Reviews" class="btn btn-embossed btn-success center-block">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <table class="table table-striped table-responsive">
            <tr>
                <th>Child Name</th>
                <th>Date Review was Completed</th>
                <th>Action</th>
            </tr>
            <tr ng-repeat="review in reviews">
                <td>{{ review.full_name }}</td>
                <td>{{ review.created_at | date: 'fullDate' }}</td>
                <td><a ui-sref="viewProgressReview({ id: review.child_id, review: review.id })" type="button" class="btn btn-embossed viewProfileButton">View</a></td>
            </tr>
        </table>
    </div>
</div>