<div class="row">
    <div class="col-sm-12">
        <h3 class="tcenter">Progress review for - {{ child.full_name }}</h3>
        <h4>This review took place on: {{ riskIndicators.created_at }} </h4>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <h4>Risk Indicators</h4>
            <table class="table table-striped table-bordered table-responsive">
                <tr>
                    <th>Born May-Aug</th>
                    <th>SEN: EYA/+ SA/+</th>
                    <th>Child in care</th>
                    <th>Child protection plan</th>
                    <th>EAL</th>
                    <th>BME</th>
                    <th>CAF</th>
                    <th>Eligible for 2 year funding</th>
                    <th>Joint 2y o review with health</th>
                    <th>Child with health care plan</th>
                </tr>
                    <td> {{ riskIndicators.born_between_aug_may }}</td>
                    <td> {{ riskIndicators.sen }} </td>
                    <td> {{ riskIndicators.child_in_care }} </td>
                    <td> {{ riskIndicators.child_protection_plan }} </td>
                    <td> {{ riskIndicators.EAL }} </td>
                    <td> {{ riskIndicators.BME }} </td>
                    <td> {{ riskIndicators.CAF }} </td>
                    <td> {{ riskIndicators.two_year_funding }} </td>
                    <td> {{ riskIndicators.joint_2y_review_with_health }} </td>
                    <td> {{ riskIndicators.child_with_health_care_plan }} </td>
                <tr>
            </table>
            <h4>Outcomes</h4>
            <table class="table table-striped table-bordered table-responsive">
                <tr>
                    <th>Self Confidence</th>
                    <th>Making Relationships</th>
                    <th>Managing Feelings</th>
                    <th>Listening and Attention</th>
                    <th>Understanding</th>
                    <th>Speaking</th>
                    <th>Moving and Handling</th>
                    <th>Health Self Care</th>
                </tr>
                <tr>
                    <td ng-class="{'green': outcomes.self_confidence == 'Green', 'orange': outcomes.self_confidence == 'Orange'}"> {{ outcomes.self_confidence }} </td>
                    <td ng-class="{'green': outcomes.making_relationships == 'Green', 'orange': outcomes.making_relationships == 'Orange'}"> {{ outcomes.making_relationships }} </td>
                    <td ng-class="{'green': outcomes.managing_feelings == 'Green', 'orange': outcomes.managing_feelings == 'Orange'}"> {{ outcomes.managing_feelings }} </td>
                    <td ng-class="{'green': outcomes.listening_and_attention == 'Green', 'orange': outcomes.listening_and_attention == 'Orange'}"> {{ outcomes.listening_and_attention }} </td>
                    <td ng-class="{'green': outcomes.understanding == 'Green', 'orange': outcomes.understanding == 'Orange'}"> {{ outcomes.understanding }} </td>
                    <td ng-class="{'green': outcomes.speaking == 'Green', 'orange': outcomes.speaking == 'Orange'}"> {{ outcomes.speaking }} </td>
                    <td ng-class="{'green': outcomes.moving_and_handling == 'Green', 'orange': outcomes.moving_and_handling == 'Orange'}"> {{ outcomes.moving_and_handling }} </td>
                    <td ng-class="{'green': outcomes.health_self_care == 'Green', 'orange': outcomes.health_self_care == 'Orange'}"> {{ outcomes.health_self_care }} </td>
                </tr>
            </table>
            <h4>Risk of Delays</h4>
            <table class="table table-striped table-bordered table-responsive">
                <tr>
                    <th>Interaction and Play</th>
                    <th>Attention and Listening</th>
                    <th>Understanding</th>
                    <th>Expressive Language</th>
                    <th>Speech Sounds</th>
                </tr>
                <tr>
                    <td> {{ riskOfDelays.interaction_and_play }} </td>
                    <td> {{ riskOfDelays.attention_listening }} </td>
                    <td> {{ riskOfDelays.understanding2 }} </td>
                    <td> {{ riskOfDelays.expressive_language }} </td>
                    <td> {{ riskOfDelays.speech_sounds }} </td>
                </tr>
            </table>
    </div>
    <div ng-include="'partials/success.html'" class="row"></div>
</div>