<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Nursery Cohort Progress Overview</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/all.css">
    <script></script>
</head>
<body>

<div class="container" ng-app="app">
    <header ng-include="'partials/nav.blade.php'"></header>
    Hello, World, this is angular and to prove it, there is a computation: 5 + 3 == {{ 5 + 3 }}
    <div ui-view></div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/flat-ui.min.js"></script>
<script src="/js/bootstrap-datepicker.min.js"></script>
<script src="/js/app.js"></script>
<script src="/js/datePicker.js"></script>
<script src="/js/radioButtons.js"></script>
<script src="/js/childSearch.js"></script>
<script src="/js/removeAlert.js"></script>

</body>
</html>